<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_login">
        <observer name="captchax_customer_login" 
                   instance="CaptchaX\Captcha\Observer\CustomerLogin" 
                   shared="false" />
    </event>
    <event name="customer_register_success">
        <observer name="captchax_customer_register" 
                   instance="CaptchaX\Captcha\Observer\CustomerRegister" 
                   shared="false" />
    </event>
    <event name="contact_submit">
        <observer name="captchax_contact_form" 
                   instance="CaptchaX\Captcha\Observer\ContactForm" 
                   shared="false" />
    </event>
    <event name="review_save_after">
        <observer name="captchax_product_review" 
                   instance="CaptchaX\Captcha\Observer\ProductReview" 
                   shared="false" />
    </event>
</config>
