<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <captchax>
            <general>
                <enabled>1</enabled>
                <environment>development</environment>
                <site_key>your-site-key</site_key>
                <secret_key>your-secret-key</secret_key>
                <api_url_dev>http://localhost:3000</api_url_dev>
                <api_url_prod>https://captchax.example.com</api_url_prod>
            </general>
            <forms>
                <customer_login>1</customer_login>
                <customer_register>1</customer_register>
                <contact_form>1</contact_form>
                <review>1</review>
            </forms>
            <captcha_types>
                <default_type>image</default_type>
                <image>1</image>
                <slider>1</slider>
                <icon>1</icon>
                <point>1</point>
                <rotate>1</rotate>
                <voice>1</voice>
            </captcha_types>
        </captchax>
    </default>
</config>
